body {
 margin: 0;
 padding: 0;
 height:auto;
 max-width: 100%;
}

.wrapper {
  display: grid;
  grid-template-areas: 'header'
                        'main'
                        'footer';
  grid-template-rows: 10vh 80vh 10vh;
}

.header {
  margin: 0;
  padding: 0;
  height: 7vh;
  width:100vw;
  grid-area: header;
  display: inline-grid;
  grid-template-areas: 'logo pr ab con';
  grid-template-rows: 10vh;
  background-color: AliceBlue;
}

.logo {
  padding-left: 5vw;
  padding-right: 50vw;
  text-align: left;
  grid-area: logo;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}

.logoText {
  font-size: 1.25rem;
  font-family: 'Alex Brush';
}

.menu {
  display: grid;
}

.menuItem {
  padding-top: 2vh;
  border-right: 5px solid white;
  text-align: center;
  font-family: 'Cabin';
  font-size: 1rem;
}

.pr {
  grid-area: pr;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.ab {
  grid-area: ab;
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}

.con {
  grid-area: con;
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
}

.header a {
  color: black;
  text-decoration: none;
}

.header a:hover {
  color: RoyalBlue;
}

.main {
  margin: 0;
  padding: 0;
  grid-area: 'main';
}

.content {
  height: 84vh;
  width: auto;
  background-image: url("../Resources/bck.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.hw{
  margin: 0;
  padding-top: 35vh;
}

p.hw {
  font-family: 'Alex Brush';
  font-size: 3rem;
}
.footer {
  background-color: AliceBlue;
  margin-bottom: 0;
  padding-bottom: 0;
  height:9vh;
  width: 100%;
  display: grid;
  grid-area: footer;
  grid-template-areas: 'cpr twt git lkd'
}

.cpr {
  grid-area: cpr;
  padding-right: 50vw;
}

.fab {
  padding: 0vh 2vw;
}

.fa-twitter {
  grid-area: twt;
  grid-column: 2 / span 1;
}

.fa-github {
  grid-area: git;
  grid-column: 3 / span 1;
}

.fa-linkedin {
  grid-area: lkd;
  grid-column: 4 / span 1;
}

.socialMedia {
  display: grid;
  font-size: 1.5em;
}

.socialMedia a{
  text-decoration: none;
  color: DarkGray;
}

.socialMedia a:hover {
  color: RoyalBlue;
}


.cpr p {
  padding-top: 2vh;
  padding-left: 1vw;
  font-family: 'Cabin';
  font-size: 0.75rem;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    display: grid;
    grid-template-areas: 'header'
                          'main'
                          'footer';
    grid-template-rows: auto;
  }
  .header {
    height:auto;
    grid-area: header;
    display: inline-grid;
    grid-template-areas: 'logo'
                          'pr'
                          'ab'
                          'con';
    grid-template-rows: auto;
  }
    .logo {
      text-align: center;
      width: 100%;
      grid-area: logo;
      grid-row: 1 / span 1;
      border-bottom: 5px solid white;
      padding: 0;
    }
    .pr {
      grid-area: pr;
      grid-row: 2 / span 1;
      border-style: none;
    }
    .ab {
      grid-area: pr;
      grid-row: 3 / span 1;
      border-style: none;
    }
    .con {
      grid-area: con;
      grid-row: 4 / span 1;
      border-style: none;
    }
    .content {
      grid-template-areas: 'title media'
                            'text text';
      grid-template-rows: auto;
    }
    .contTitle {
      grid-column: 1 / span 1;
      font-size: 0.75em;
    }
    .contMedia {
      grid-row: 1 / span 1;
      width: 20vh;
      height: 10vh;
      padding: 4vh 2vw;
    }
    .contText {
      grid-row: 2 / span 2;
      width: 90%;
      height: auto;
    }

    .footer {
      height: 10vh;
    }
}
